.position-outer-box{
    position: relative;
    min-width: 100%;
    height: 100vh;
    background-color: var(--pink);
}

.position-inner-box{
    box-sizing: border-box;

    position: absolute;
    width: 750px;
    height: 284px;
    left: calc(50% - 750px/2 - 0.5px);
    top: calc(50% - 284px/2);
    
    background: var(--yellow);
    border: 1px solid var(--black);
}

.text-ele{
    position: absolute;
    width: 424px;
    height: 98px;
    left: calc(50% - 424px/2 - 0.5px);
    top: calc(50% - 98px/2);

    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 97px;

color: var(--black);

}