.parent {
    align-items: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 100px;
    margin-top: 5rem;
    font-size: 75px;
  }
  
  .child {
    border: 1px solid black;
    height: 50px;
    width: 50px;
  }

  .toggle{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    place-content: center;
    justify-content: center;
    align-items: center;
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }



  .slider{
    position: absolute;
    cursor: pointer;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #cccc;
    transition: .4s;
  }
  .switch input{
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider::before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }

  input:checked + .slider{
    background-color: cyan;
  }

  input:checked + .slider::before{
    transform: translateX(26px);

  }