.parent-div{

    position: relative;
    min-width: 100%;
    height: 100vh;
    background-color: var(--pink);
}

.child-did{
    box-sizing: border-box;

    position: absolute;
    width: 750px;
    height: 284px;

    right: 67px;
    bottom: 56px;

    background: var(--yellow);
    border: 1px solid var(--black);
}

.hello-world{
    position: absolute;
    width: 424px;
    height: 98px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    font-family: var(--font-family);
    font-style: var(--font-stayle);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 97px;

    color: var(--black);

}