@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.outer-box{
    position: relative;
    min-width: 800px;

    height: 100vh; 
    background-color: var(--pink);
}


.fixed-width {
    box-sizing: border-box;
    position: absolute;
    width: 750px;
    height: 284px;

    /* Taken from Figma */
    left: calc(50% - 750px/2 - 1px); 
    top: calc(50% - 284px/2);

    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */


    background: var(--yellow);
    border: 1px solid var(--black);
}

.text-2 {
    position: absolute;
    width: 424px;
    height: 98px;

    left: calc(50% - 424px/2 - 1px);
    top: calc(50% - 98px/2);

    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 97px;

    color: var(--black);

}

