@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.container-div {
    position: relative;
    /* width: 1208px;
    height: 1024px; */

    min-width: 100%;
    height: 100vh;

    background: var(--pink);
}

.fit-screen {
    position: absolute;

    left: 21.15%;
    right: 21.15%;
    top: 36.13%;
    bottom: 36.13%; 
    

    background: var(--yellow);
    border: 1px solid var(--black);
}


.text-1 {
    position: absolute;
    width: 426px;
    height: 98px;

    
    left: calc(50% - 426px/2 + 1px);
    top: calc(50% - 98px/2);
    
    font-family: var(--font-family);
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 97px;

    color: var(--black);
}

/* .fit-screen-1 
{
    position: absolute;

    left: 21%;
    right: 21%;
    top: 70.13%;
    bottom: 0; 

    background: var(--yellow);
    border: 1px solid var(--black);
} */